// 1230 안에서 잘 나오면 오케이
// 전역으로 적용시킨것들은 1229 이상으로 다 적용시키는 것이다. 

// 시안에 따라 다름
// 1025 ~ 1229
$desktop: 1229px;


// 768 ~ 1024
$tablet: 1024px;



// 320 ~ 767
$mobile: 767px;



@mixin desktop {

  // 1229 이하를 꾸미는거다. 
  @media screen and (max-width: $desktop ) {
    @content;
  }
}

@mixin tablet {

  // 1024 이하를 꾸미는거다. 
  @media screen and (max-width: $tablet ) {
    @content;
  }
}

@mixin mobile {

  // 767 이하를 꾸미는거다. 
  @media screen and (max-width: $mobile ) {
    @content;
  }
}