.header {
  position: fixed;
  top: 0;
  z-index: 4;
  height: 64px;
  width: 100%;
  background: #fff;

  .inner1 {
    display: flex;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    height: inherit;
    padding: 0 104px 0 98px;
    margin: 0 auto;
    gap: 20px;

    @include desktop {
      padding: 0 22px;
    }

    .logo {
      display: flex;
      align-items: center;
      height: inherit;

      a {
        width: 223px;
        height: 35px;
        display: block;
        background: url("../images/sp_pc.png") no-repeat;
        background-position: -105px 0px;
        background-size: 328px 205px;

        @include desktop {
          background: url("../images/sp_mo.png") no-repeat;
          background-size: 195px 181px;
          background-position: 0px 0px;
          width: 160px;
          height: 23px;
        }
      }

    }

    .gnb {
      height: 100%;

      @include desktop {
        display: none;
      }

      &.on {
        &:before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          height: 182px;
          width: 100%;
          background: #fff;

        }
      }

      a {
        span {
          position: relative;

          &:hover {
            &:after {
              content: "";
              width: 100%;
              height: 1px;
              position: absolute;
              bottom: 0;
              left: 0;
              background: #000;
            }
          }
        }
      }

      .nav {
        &-list {
          display: flex;
          font-size: 17px;
          height: 100%;
        }

        &-item {
          display: flex;
          flex-direction: column;
          height: 100%;

          &_title {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 10px;
          }

          .sub {
            &-list {
              height: 182px;
              position: absolute;
              top: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              display: none;

              &.on {
                background: #fff;
                display: flex;
              }
            }

            &-item {
              line-height: 32px;

              a {
                display: block;
                padding: 3px 13px;
              }
            }
          }
        }
      }
    }

    .group-flex {
      height: inherit;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-left: auto;

      @include desktop {
        display: none;
      }

      .util-list {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 17px;
      }

      .lang-area {
        cursor: pointer;

        .curr {
          display: flex;
          align-items: center;

          span {
            width: 40px;
            text-align: center;
            font-size: 17px;
          }

          &:after {
            display: block;
            content: "";
            background: url("../images/sp_pc.png") no-repeat;
            background-position: -122px -93px;
            background-size: 328px 205px;
            width: 10px;
            height: 6px;
          }
        }

        &.on {
          .lang-list {
            display: block;
            position: absolute;
            top: 70%;
            text-align: center;
            background: #fff;
            padding: 5px 10px;
          }
        }

        .lang-list {
          display: none;
        }
      }
    }

    .mo_gnb_inner {
      display: none;

      @include desktop {
        display: block;
        position: fixed;
        top: 64px;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        padding: 11px 22px;
        transform: translateX(100%);
        transition: all .3s;
        overflow-y: auto;

        &.isAct {
          transform: none;
          background: #fff;

          .nav {
            &-list {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 10px;
            }

            &-item {
              font-size: 22px;
              width: 100%;
              padding: 2px 0;

              &:focus {
                background: #f00;
              }

              .hasSubMenu {
                display: flex;
                align-items: center;
                gap: 8px;

                &::after {
                  content: "";
                  display: block;
                  background-image: url("../images/sp_mo.png");
                  background-size: 195px 181px;
                  background-position: -136px -49px;
                  width: 10px;
                  height: 6px;
                }
              }

              .sub {
                &-list {
                  display: none;

                  &.on {
                    display: block;
                    position: relative;
                    top: 0;
                    padding: 0;
                    margin-bottom: 20px;
                  }
                }

                &-item {
                  font-size: 18px;
                  margin-top: 13px;
                  padding: 0 20px;
                }
              }

            }


          }

          .vertical {
            width: 100%;

            &:after {
              content: "";
              display: block;
              height: 1px;
              margin: 15px 0;
              background-color: #d0d0d0;
            }
          }

          .util-list {
            display: flex;
            flex-direction: column;
            font-size: 22px;
            gap: 10px;
          }

          .lang {
            &-area {
              display: flex;
              flex-direction: column;
              font-size: 17px;
            }

            &-item {
              .text {
                &:before {
                  content: "";
                  margin-right: 10px;
                  display: inline-block;
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  border: 1px solid #d0d0d0;
                }

                &.on {
                  &:before {
                    content: "";
                    margin-right: 10px;
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    border: 1px solid #000;
                    background: #000;
                  }
                }
              }
            }


          }
        }
      }

    }

    .buttonBugger {
      display: none;

      @include desktop {
        display: block;
        background: url("../images/sp_mo.png") no-repeat;
        background-size: 195px 181px;
        background-position: -85px -28px;
        width: 20px;
        height: 20px;
        margin-left: auto;

        &.isAct {
          background-position: -85px -49px;
        }
      }
    }
  }
}